<?xml version="1.0" encoding="UTF-8"?>
<package packagerversion="1.4.1" version="2.0" xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>midgardmvc_installer</name>
  <channel>pear.indeyets.pp.ru</channel>
  <summary>Midgard MVC Installer</summary>
  <description>
    Tool for extremely easy installation of Midgard MVC Applications
  </description>
  <lead>
    <name>Alexey Zakhlestin</name>
    <user>indeyets</user>
    <email>indeyets@php.net</email>
    <active>yes</active>
  </lead>
  <lead>
    <name>Henri Bergius</name>
    <user>bergie</user>
    <email>henri.bergius@gmail.com</email>
    <active>yes</active>
  </lead>

  <date>##CURRENT_DATE##</date>
  <version>
    <release>##INSTALLER_VERSION##</release>
    <api>1.0.4</api>
  </version>
  <stability>
    <release>stable</release>
    <api>stable</api>
  </stability>
  <license uri="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.txt">GNU Lesser General Public License, version 2.1</license>
  <notes>
    - compatibility with extended schemas
    - proper handling of php-5.3+ setups on ubuntu
  </notes>

  <contents>
    <dir name="/">
      <file role="script" baseinstalldir="/" name="bin/midgardmvc.sh">
        <tasks:replace type="pear-config" from="@PHP-BIN@" to="php_bin"/>
        <tasks:replace type="pear-config" from="@BIN-DIR@" to="bin_dir"/>
        <tasks:replace type="pear-config" from="@PEAR-DIR@" to="php_dir"/>
      </file>

      <file role="php" baseinstalldir="/" install-as="midgardmvc.php" name="bin/midgardmvc.php" />
      <file role="php" baseinstalldir="midgardmvc_installer" install-as="midgardMvcInstallerApp.class.php" name="lib/midgardmvc_installer/midgardMvcInstallerApp.class.php">
        <tasks:replace type="package-info" from="1.0.DEV" to="version" />
      </file>

      ##CLASS_FILES##

      <file role="doc" baseinstalldir="midgardmvc_installer" name="LICENSE" />
    </dir>
  </contents>

  <dependencies>
    <required>
      <php>
        <min>5.2.1</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>pake</name>
        <channel>pear.indeyets.pp.ru</channel>
        <min>1.5.1</min>
      </package>
    </required>

    <optional>
      <extension>
        <name>midgard2</name>
      </extension>
    </optional>
  </dependencies>

  <phprelease>
    <filelist>
      <install as="midgardmvc" name="bin/midgardmvc.sh" />
    </filelist>
  </phprelease>

  <changelog>
    <release>
      <date>2011-01-27</date>
      <version>
        <release>1.0.4</release>
        <api>1.0.4</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.txt">GNU Lesser General Public License, version 2.1</license>
      <notes>
        - use midgard.http=Off mode for appserver (connection will be opened manually, per-process)
        - remove explicit call to build_translations in "update" task, as translations are built during component-update phase
      </notes>
    </release>
    <release>
      <date>2011-01-24</date>
      <version>
        <release>1.0.3</release>
        <api>1.0.3</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.txt">GNU Lesser General Public License, version 2.1</license>
      <notes>
        - new task: build_translations (for building gettext binary message catalogs (.mo files) from .po files)
        - new task: init_mvc_nodes for (re)creating MVC-Application's nodes on request
        - new task: update (for complete update of installed application)
        - prefer LLDB to GDB in debug-mode
        - (bug #15) properly handle "component already installed" situation
        - (bug #17) do not choke on midgard.conf without mysql host/port
      </notes>
    </release>
    <release>
      <date>2010-12-21</date>
      <version>
        <release>1.0.2</release>
        <api>1.0.2</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.txt">GNU Lesser General Public License, version 2.1</license>
      <notes>
        - new task: update_db
        - new task: components_update (calls update_db afterwards)
        - reinit_db, update_db, components_update tasks try to use current dir, if one is not given as parameter
        - "install" task creates "aip.yml" in application dir, instead of using bundled one
        - better logic for "php.ini" generation
      </notes>
    </release>
    <release>
      <date>2010-12-20</date>
      <version>
        <release>1.0.1</release>
        <api>1.0.1</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.txt">GNU Lesser General Public License, version 2.1</license>
      <notes>
        - renamed tool mvc_install -> midgardmvc (gh-6)
        - renamed task init_mvc -> install (gh-6)
        - added support for inserting application nodes in midgard database (gh-7)
        - added simple YAML validation, when installing apps (gh-1)
      </notes>
    </release>
    <release>
      <date>2010-12-17</date>
      <version>
        <release>1.0.0</release>
        <api>1.0.0</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.txt">GNU Lesser General Public License, version 2.1</license>
      <notes>
        - initial release
      </notes>
    </release>
  </changelog>
</package>
